.cont {
	/* position: relative; */
    width: 1000px;
    margin: 0 auto;
    /* text-align: center;
    color: #929292;
    font-family: 'nanum-barun-gothic-regular';
    padding-left: 0 !important; */
}

/** 대메뉴 **/
.gnb {
	position:absolute;
	/* top:35px; */
	top: -46px;
}
.gnb li {
	float:left;
	margin-left:34px;
}
.gnb li a {
	position: relative;
    display: block;
    /* padding: 10px 3px 12px 3px; */
    padding: 15px 15px 15px 15px;
    color: #feffff;
    font-family: 'nanum-barun-gothic-regular';
    font-size: 15px;
    line-height: 15px;
    transition: all 0.3s;
}
.gnb li a:before {
	position:absolute;
	left:0;
	top: 34px;
	width:100%;
	height:0;
	background:#1a9df7;
	content:"";
	transition:all 0.3s;
}
.gnb li a:hover:before,
.gnb li a:hover:focus:before,
.gnb li.on a:before {height:3px;}
.gnb li a.selected {
    /* border-bottom-color: #1a9df7;
    border-bottom-style: solid; */
    height: 13.5px;
    bottom: 0px;
	background: #384162;
}

.gnb_left {
	position:absolute;
}
.gnb_left li {
	float:left;
	margin-left:34px;
}
.gnb_left li a {
	position: relative;
    display: block;
    /* padding: 10px 3px 12px 3px; */
    padding: 15px 15px 15px 15px;
    font-family: 'nanum-barun-gothic-regular';
    font-size: 15px;
    line-height: 15px;
    transition: all 0.3s;
}
.gnb_left li a:before {
	position:absolute;
	left:0;
	top: 34px;
	width:100%;
	height:0;
	background:#1a9df7;
	content:"";
	transition:all 0.3s;
}
.gnb_left li a:hover:before,
.gnb_left li a:hover:focus:before,
.gnb_left li.on a:before {height:3px;}
.gnb_left li a.selected {
    height: 13.5px;
    bottom: 0px;
	color: #fff;
	background: #1a9df7;
	text-weight: bold;
}

/** 소메뉴 **/
.gnb_next {
	position: absolute;
    width: 480px;
    height: 40px;
    background: #f8f8f8;
    left: 0;
}
.gnb_next li {
	float: left;
	width: 60%;
	padding: 0 20%;
	text-align: center;
}
.gnb_next li a {
	position: relative;
    display: block;
    color: #000000;
    font-family: 'nanum-barun-gothic-regular';
    font-size: 15px;
    line-height: 40px;
    transition: all 0.3s;
}
.gnb_next li a:before {
	position:absolute;
	left:0;
	top:30px;
	width:100%;
	height:0;
	background:#018f43;
	content:"";
	transition:all 0.3s;
}
.gnb_next li a:hover:before,
.gnb_next li a:hover:focus:before,
.gnb_next li.on a:before {height:3px;}
.gnb_next li a.selected {
    border-bottom-color: #018f43;
    border-bottom-style: solid;
    height: 30px;
    bottom: 0px;
}

/* 상단공간 */
.title_area{
	background-color: #395378;
    overflow: hidden;
    height: 78px !important;
    width: 100% !important;
    padding: 0px 30px !important;
    position: absolute;
    left: 0px;
    top: 0px;
    border-bottom: 2px solid #394053;
}

/* 로고 */
.logo_tit {
	height: 80px;
    width: 120px;
    background: url(../images/layout/logo.png) no-repeat left center;
}
.logo_tit_text{
    padding-left: 60px;
    color: #fff;
    font-family: 'nanum-barun-gothic-regular';
    font-size: 20px;
    letter-spacing: 1px;
    top: 34px;
    position: absolute;
	left: 100px;
}
.logo_tit_control{
	height: 80px;
    width: 284px;
    background: url(../images/layout/logo_control.png) no-repeat left center;
}
.logo_tit_iot{
	height: 80px;
    width: 284px;
    background: url(../images/layout/logo_iot.png) no-repeat left center;
}
.logo_tit_112{
	height: 80px;
    width: 284px;
    background: url(../images/layout/logo_112.png) no-repeat left center;
}
.logo_tit_119{
	height: 80px;
    width: 284px;
    background: url(../images/layout/logo_119.png) no-repeat left center;
}
.logo_tit_disadvantaged{
	height: 80px;
    width: 284px;
    background: url(../images/layout/logo_disadvantaged.png) no-repeat left center;
}
.logo_tit_disaster{
	height: 80px;
    width: 284px;
    background: url(../images/layout/logo_disaster.png) no-repeat left center;
}
.logo_tit_safe{
	height: 80px;
    width: 284px;
    background: url(../images/layout/logo_safe.png) no-repeat left center;
}

/* 계정 */
.account_area {
	position: absolute;
    top: 12px;
    right: 60px;
    z-index: 1;
    width: 280px;
    height: 67px;
}
.account {
    line-height: 78px;
    color: #fff;
    font-size: 15px;
    font-family: 'nanum-barun-gothic-regular';
    text-align: right;
    float: left;
    position: absolute;
    right: 115px;
    height: 50px;
    width: 100px;
    overflow: hidden;
}
.account_area a {
	line-height: 78px;
    color: #fff;
    font-size: 15px;
    font-family: 'nanum-barun-gothic-regular';
    text-align: center;
    float: left;
    position: absolute;
    height: 50px;
}
.login_pop_down {
	background: url(../images/icons/arrow_down.png) no-repeat center center;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 28px;
    right: 90px;
    cursor: pointer;
}
.login_pop_up {
	background: url(../images/icons/arrow_up.png) no-repeat center center;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 28px;
    right: 90px;
    cursor: pointer;
}
.login_image {
	position: absolute;
    background: url(../images/icons/admin.png) no-repeat center center;
    display: block;
    width: 41px;
    height: 40px;
    bottom: 10px;
    right: 40px;
}

/*.account_drop_area ul {
	background: #384162;
    display: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: 100px;
    z-index: 2;
    color: #fff;
}
.account_drop_area ul li{
    padding: 5px 5px;
}
.account_drop_area ul a{
    color: #fff;
    font-size: 15px;
    font-family: 'nanum-barun-gothic-regular';
}
.login_drop:hover ul{
display:block;   마우스 커서 올리면 서브메뉴 보이게 하기
} */

.account_setting_area {
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 1;
    width: 165px;
    height: 167px;
}

.account_setting {
	display: inline-block;
    position: absolute;
    top: 83px;
    right: 52px;
    background: #384162;
    height: 40px;
    width: 160px;
    margin: 10px auto 0;
	border-radius: 5px;
	display: none;
	z-index: 1;
}
.account_setting:after {
    content: '';
    position: absolute;
    border-bottom: 10px solid #384162;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: -10px;
    right: 42px;
}

/* 로그아웃 */
.logout{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
	left: 10px;
    background: url(../images/icons/messege.png) no-repeat left center;
}
.logout a{
	position: relative;
    left: 25px;
    top: 6px;
	color: #8c90ab;
	font-size: 15px;
	font-family: 'nanum-barun-gothic-regular';
}
.logout a:hover, .logout a:active{
	color: #fcfaff;
}

.smart_web_list{
	display: inline-block;
    position: absolute;
    top: 81px;
    left: 759px;
    background: #317ec2;
    height: 20px;
    width: 276px;
	border-radius: 5px;
	display: none;
	border-bottom: solid 3px #1b2d43;
	padding: 10px;
}
.smart_web_list span{
	margin: 9px;
}
.smart_web_list span a{
	color: #fff;
	font-family: "nanum-barun-gothic-regular";
	font-size: 15px;
}
.smart_web_list span a:hover{
	border-bottom: solid 1px #fff;
	padding-bottom: 2px;
}
